body{
	background-color: #fff;
	font-family: PingFangSC-Regular, sans-serif;
}
a{text-decoration: none; &:hover{text-decoration: none;}}
ul{list-style: none; padding: 0;}
.new-page-container{
	position: absolute;
    z-index: 100;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding-top: 0;
    -webkit-overflow-scrolling:touch;
}
.page{
    position: absolute;
    z-index: 100;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding-top: 0;
    -webkit-overflow-scrolling:touch;
    &.no-pdtop{padding-top: 0;}
}
.page-content{
    padding: 56px 0 0;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    // -webkit-overflow-scrolling:touch;
}
// slide切换页面
.slide-enter-active,.slide-leave-active{
  transition: all .5s;
}
.slide-enter,.slide-leave-to{
  transform: translate3d(100%, 0, 0);
}
// fade切换页面
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
// scale切换页面
.scale-enter-active, .scale-leave-active {
  transition: all .3s;
}
.scale-enter, .scale-leave-to{
  transform: scale(0);
}